* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* HEADER */
header .containerfull{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
}
header .containerphone{
    display: none;
}

header .containerfull .top{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    flex-direction: row;
}
header .containerfull .top .items{
    display: flex;
    margin-top: 3px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: right;
}
header .containerfull .top div img {
    height: 40px;
    width: 40px;
}

header .containerfull .top .navegate {
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
header .containerfull .top .navegate span{
    font-size: 15px;
    padding-top: 11px;
    padding-left: 5px;
    padding-right:5px;

}

header .containerfull .top .navegate span a {
    text-decoration: none;
    color: black;
}



header .containerfull .buttom {
    display: flex;
    justify-content: center;
    font-size: 12px;
    background-color: black;
    color: white;
}

.center {
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
}
@media (max-width: 768px) {
    .center {
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
    }
    header .containerfull{
        display: none;
    }


    header .containerphone{
        display: block;
        font-family: 'Nunito Sans', sans-serif;
    }

    header .containerphone .top{
        display: grid;
        margin-top:10px ;
        grid-template-columns: 2fr 0.2fr;
        flex-direction: row;
    }

    
    header .containerphone .top .nav-toggle {
        display: none;
    }
    header .containerphone .top .on{
        display: flex;
        flex-direction: column;
        width: 600px;
        gap: 10px;
        margin-top:10px ;
        background-color: aqua;
        justify-content: center;
        position:fixed;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    header .containerphone .top .nav-toggle .menu{
        display: flex;
        flex-direction: column;
        
        gap: 30px;
        align-items: center;
    }
    header .containerphone .top .nav-toggle .menu div a {
        text-decoration: none;
        color: black;
    }
    header .containerphone .top .nav-toggle .items{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-direction: row;
    }
    header .containerphone .top button {
        border: none;
        color: white;
    }
    header .containerphone .top .hambur {
        height: 30px;
        width: 30px;
    }
    header .containerphone .top .hambur img {
        height: 100%;
        width: 100%;
    }
    header .containerphone .top .nav-toggle .items div {
      height: 50px;
      width: 50px;
    }
    header .containerphone .top .items div img {
        height: 100%;
        width: 100%;
    }
    
    header .containerphone .buttom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
        text-align: center;
        height: 20px;
        font-size: 10px;
        background-color: black;
        color: white;
    }

}


